<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation for Apps</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
  </head>
  <body>
    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">
        <div class="title-bar primary" data-ng-controller="header">
          <span class="title left">Donation App</span>
          <span class="right">
            <a class="link"  data-ng-repeat="page in pages" ng-class="{active: $state.includes(page.state)}" data-ng-click="page.click()">{{page.title}}</a>


          </span>
        </div>
      </div>
      <div ui-view class="grid-content">
      </div>
    </div>
    <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
  </body>
</html>